- content_for :top_menu_left do
  a href='/' = t('application_layout.menu.for_participants') unless user_signed_in?
- content_for :top_menu_right do
  a= t 'application_layout.menu.enter'

#text_page_wrapper
  .app_div
    - if @layout == 'application'
      #main_grey_rectangle
        - for i in 0..9
          input id="main_input_#{i}" maxlength='1' pattern='^\\d{1}$'
        a.button#main_grey_rectangle_button= t 'main_page.button'

    #text_page= raw @text_page.source

javascript:
  (function(){
    $("#main_grey_rectangle")
    .on('keydown', function(e){
      if( e.keyCode == 8 ){
        if( ! e.target.value.length ){
          $(e.target).prev('input').focus();
        }
      }
    })
    .on('keyup', function(e){
      if( e.target.value.length ){
        $(e.target).next('input').focus();
      }
    });

    var inputs = $("#main_grey_rectangle input");

    $("#main_grey_rectangle_button").on('mousedown', function(e){
      var number = "";
      if( inputs.filter(function() { return this.value.length != 1; }).length ){
        alert(
          "#{ t 'main_page.length_inputs_alert' }"
        );
      } else
      if( inputs.filter(function() { number += this.value; return !this.value.match(/^\d+$/); }).length ){
        alert(
          "#{ t 'main_page.text_inputs_alert' }"
        );
      }
      else {
        window.location.href = '/votings?number='+number;
      }
    });

  })();

= render 'main'