- content_for :top_menu_left do
  %a{ href: '/' }= t('application_layout.menu.for_participants')
  - @links.each do |l|
    = link_to l.name, text_page_path(l)
- content_for :top_menu_right do
  %a{ href: session_path('organization') }= t('application_layout.menu.enter')
#text_page_wrapper
  .app_div
    #text_page
      = raw @text_page.source
