.div_in_smoke {
  width: 414px;
  padding: 35px 40px 45px;

  position: relative;
  .cross {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -30px;
    top: -30px;
    text-align: center;
    cursor: pointer;
    font: bold 20px/30px Arial;
    color: white;
  }

  h1 { 
    font-size: 33px; 
    padding-bottom: 10px;
  }

  .row + .row {
    margin-top: 15px;
  }

  .col {
    width: 200px;

    + .col {
      margin-left: 14px;
    }

    color: $grey;
  }

  input {
    @include proto_grey( hsl(0,0,90) );

    height: 45px;
    width: 100%;
    padding: 0px 10px;

    border-width: 1px 1px 5px;

    font: 14px/39px Arial;
  }

  input[type="submit"] {
    @include proto_grey( hsl(0,0,90) );

    width: 200px;
    font: 24px/45px 'bebas_neue_cyrillic';
    background: $yellow;
  }

  label, a {
    line-height: 30px;
  }

  label {
    padding-left: 10px;
  }

  a {
    color: $greenoblue;
    text-decoration: underline;
  }

  .log_already_done_this {
    line-height: 40px;
  }
}

#login_forget_pass {
  float: right;
}

#app_login .form_error_enter {
  padding-top: 15px;
}

#app_forget_phone {
  a {
    line-height: inherit;
  }

  .forget_phone_description {
    width: 167px;
    padding-right: 33px;
    padding-top: 6px;
    font: 14px/18px Arial;
  }

  [type='submit'] {
    margin-top: 15px;
  }
}

.app_social_enter {
  margin-top: 15px;
  margin-bottom: -20px;

  .button {
    @include proto_grey( hsl(0,0,85) );

    display: inline-block;
    margin-left: 8px;
    color: white;
    text-decoration: none;
    line-height: 1.5em;
    vertical-align: middle;

    &.vk { background: hsl( 211, 31, 45 ); }
    &.fb { background: hsl( 221, 38, 45 ); }
    &.tw { background: hsl( 206, 82, 63 ); }
  }
}
