#text_page, .wysihtml5-editor
  background-color: $white
  padding:
    top: 50px
    left: 35px
    right: 35px
    bottom: 30px
  h1
    color: $black
    margin-bottom: 25px
    font-family: 'bebas_neue_cyrillic'
    text-transform: uppercase
  h3
    color: $greenoblue
    margin-bottom: 10px
  > br
    margin-bottom: 40px
  .row
    display: table
    width: 100%
    .col
      float: left
      width: 50%
  ul
    padding: 0
    list-style: none
    > li
      padding:
        left: 40px
      background:
        image: url('/images/orage-circle.png')
        position: 20px center
        repeat: no-repeat
  ul, ol
    line-height: 15px
    margin: 0
    > li
      margin-bottom: 15px
  p
    font-size: 16px
    line-height: 20px
    color: hsl( 0,0,20 )
    
    + p
      padding-top: 0.7em

    &:first-letter
      padding-left: 1em


.wysihtml5-editor
  padding: 0
  margin: 0
