html, body {
  height: 100%;
}
#app {
  min-height: 100%;
  background: #e7e7e7;
  display: table;
  width: 100%;
  height: 100%;
}
#app_yield {
  padding-bottom: 74px;
}
#app_footer {
  margin-top: -74px;
}

.app_div {
  width: 950px;
  margin: 0px auto;

  #app_menu &, #app_footer & {
    position: relative;
  }
}

#app_menu, #app_footer {
  a {
    cursor: pointer;
    color: $greenoblue;
    text-decoration: underline;
  }
}

#app_menu {
  height: 30px;
  background: $lightgrey;
}
#app_menu_left, #app_menu_right {
  position: absolute;
  top: 0px;
  
  a {
    font: 11px/30px Arial;
    color: $greenoblue;
    text-decoration: underline;
    padding: 0 5px;
  }
}
#app_menu_left {
  left: 0px;
}
#app_menu_right {
  right: 0px;
}

.app_menu_right{
  position: absolute;
  top: 0px;

  a {
    font: 11px/30px Arial;
    color: $greenoblue;
    text-decoration: underline;
  }
  right: 0px;
}

#app_footer {
  height: 74px;
  background: $white;
  font: 14px/74px Arial;
}
#app_footer_OOO, #app_footer_development {
  position: absolute;
  top: 0px;
}
#app_footer_OOO {
  left: 5px;
}
#app_footer_development {
  right: 5px;

  img {
    vertical-align: middle;
    height: 30px;
  }
}

#app_menu_language_switcher {
  display: table;
  margin: 0px auto;
  position: relative;
  top: 5px;

  .elem {
    float: left;
    width: 33px;
    height: 18px;
    padding: 1px 0px;

    font: 12px/18px Arial;
    color: hsl(0,0,100);
    text-decoration: none;

    text-align: center;

    cursor: pointer;

    background-position: left top;
    
    &.first {
      background-image: url('/images/main_page/lang_left.png');
    }
    &.second {
      background-image: url('/images/main_page/lang_right.png');
    }
  }

  &.ru .second, &.en .first {
    background-position: left bottom;
    padding: 2px 0px 0px;
    cursor: default;
  }

  .active {
    background-color: $greenoblue
  }
}

#app_smoke {
  @extend %layer_smoke;
  z-index: 100;

  .app_div {
    position: relative;
  }

  #app_log {
    background: url("/images/main_page/light.png");
    height: 850px;
  }

  .div_in_smoke {
    display: none;
    position: absolute;
    top: 195px;
    left: 249px;
    background: white;
  }
}

#app_fog {
  @extend %layer_smoke;
  z-index: 9;
}
