.flash.notice
  = flash[:message]

= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application"
-if voting.is_a? MonetaryVoting
  =render partial: 'votings/widget'
-else
  =render partial: 'other_votings/widget'
