.flash.notice
  = flash[:message]

= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application"

=render :partial => "widget", :object => @voting, :as => 'voting', :locals => {:phone => @phone}
