.settings {
  .col {
    width: 240px;

    &.one_third { width: 308px; }
    &.two_thirds { width: 497px; }
  }

  .col + .col {
    margin-left: 17px;

    &.one_third { margin-left: 45px; }
  }

  .row + .row {
    margin-top: 12px;

    &.row_with_button { margin-top: 20px; }
  }

  h3 { margin-top: 20px; }
  form + h1 { margin-top: 40px; }
  p + .row { margin-top: 10px; }

  h1 {
    font-size: 33px;
    color: $yellow;
  }

  label, h3, p, h4 {
    font-size: 14px;
    line-height: 24px;
  }

  h4 {
    font-weight: normal;
  }

  [type='text'], [type='password'], .select_current {
    height: 31px;
    border-width: 1px;
    font: 14px/29px Arial;
    width: 100%;
  }

  [type="submit"], .button {
    @include button_height( 40px );
    font-size: 24px;
    background-color: $yellow;
    color: black;
  }

  .one_third [type="submit"] {
    width: 100%;
  }

  .two_thirds {
    input, .button, .select_current {
      @include proto_grey( hsl(196,50,33) );
    }
  }

  .one_third {
    input, .button, .select_current {
      @include proto_grey( hsl(196,30,47) );
    }
  }
}

.small_notation {
  font-size: 12px;
  line-height: 24px;
}

.settings_box {
  background: hsl( 196,30,50 );
  padding: 35px;

  + .settings_box {
    margin-top: 30px;
  }
}

#settings_participant_history_table {
  margin-top: 12px;

  tr:nth-child(2n+1) { background: hsl( 196,50,40 ); }
  tr.row_with_names { background: hsl( 196,30,50 ); }

  font: 12px/45px Arial;

  tr { height: 45px; }
  td { border: none; }

  tr{ border: 1px solid hsl( 196,50,40 ); }


  .date { width: 90px; padding-left: 25px; }
  .amount { width: 80px; }
  .status { width: 150px; }
  .method { width: 145px; }
}

#settings_user_phones {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  overflow: hidden;

  .settings_uset_phone {
    float: left;
    width: 50%;
    text-decoration: underline;
  }

  .delete_phone {
    background: transparent;
    border-width: 0px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: auto;
  }
}

#settings_participant_age_select {
  width: 94px;
  color: black;

  .select_current {
    background: white url('/images/select_arrow.png') 90% center no-repeat;
  }

  .select_list {
    font: 14px/29px Arial;
    height: 200px;

    div {
      &:hover {
        background: hsl(0,0,95);
      }

      &.on {
        background: hsl(0,0,85);
      }
    }
  }
}

.social_button {
  height: 40px;
  width: 40px;
  background: url('/images/social_buttons.png');

  &.social_button_vk { background-position:   0px 0px; }
  &.social_button_f  { background-position: -50px 0px; }
  &.social_button_t  { background-position: -99px 0px; }
  &.social_button_g  { background-position:-149px 0px; }
  &.social_button_od { background-position:-198px 0px; }
}

#send_invitation_settings {
  .social_button {
    float: left;

    + .social_button {
      margin-left: 9px;
    }
  }
}

#settings_organization_logo_button {
  @include button_height( 25px );
  font-size: 20px;

  position: absolute;
  top: 21px;
  right: 0px;
  width: 165px;
}

#settings_organization_documents_wrapper {
  margin-bottom: 5px;
  .document_handler {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    padding-right: 20px;
    margin: 5px;
    .del {
      position: absolute;
      cursor: pointer;
      right: 5px;
      top: 5px;
    }
  }

  .attachment_link {
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#settings_organization_documents_button {
  @include button_height( 25px );
  font-size: 20px;

  width: 110px;
}
