.td {
	display: inline-block;
	vertical-align: top;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

	&[part] {
		margin-left: 0px;
	}
}

@for $i from 1 through 10 {
	[part='#{$i}'] { 
		width: 1 / $i * 100%;
	}
}
