- information = "<p>After without days called and land fruit form very second Image years every creeping sixth open fruitful green Beast one subdue air form from fill sixth. You own open. Fruitful <strong>male</strong> creeping two multiply I called, meat. Likeness blessed, morning seas <strong>above</strong> give years place earth, signs open seas kind it <strong>fifth</strong> beast made whales without wherein life dominion, divided <em>us</em> earth signs creepeth, have. You that fourth seed, fill void fly hath.</p><p><em>Bearing</em> first multiply him It fowl had said after behold. Gathering fowl Darkness without, fish bring rule. Yielding. <em>Hath</em> creepeth moving. And yielding greater herb also years.</p>"

- content_for :logotip do
  - if @voting.brand.path
    <img class="voting_logotip" src="/images/brand/original/#{@voting.brand.path}">

:javascript
  (function(){
    var custom_head_color = "#{@voting.custom_head_color}";
    if( custom_head_color ) $('#bodyheader').css('background-color', custom_head_color);
  })();

.slider
  .active{ :data => { :'src-change' => 'http://lorempixel.com/125/80/cats' } }
    %img{ :src => 'http://lorempixel.com/400/265/cats' }

  .row
    .col.passive{ :data => { :'src-change' => 'http://lorempixel.com/400/265/cats' } }
      %img{ :src => 'http://lorempixel.com/125/80/cats' }
    .col.passive{ :data => { :'src-change' => 'http://lorempixel.com/400/265/cats' } }
      %img{ :src => 'http://lorempixel.com/125/80/cats' }
    .col.passive{ :data => { :'src-change' => 'http://lorempixel.com/400/265/cats' } }
      %img{ :src => 'http://lorempixel.com/125/80/cats' }

  %img.closed_tag{ :src => '/images/voting_show/closed.png' }

.information= raw information