#app_login, #app_logup {
  width: 414px;
  padding: 35px 40px 45px;

  position: relative;
  .cross {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -30px;
    top: -30px;
    text-align: center;
    cursor: pointer;
    font: bold 20px/30px Arial;
    color: white;
  }

  h1 { 
    font-size: 33px; 
    padding-bottom: 10px;
  }

  .log_row {
    display: table;

    + .log_row {
      margin-top: 15px;
    }
  }

  .field {
    float: left;
    width: 200px;

    + .field {
      margin-left: 14px;
    }

    color: $grey;
  }

  input {
    height: 45px;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    border-style: solid;
    border-width: 1px 1px 5px;
    @include proto_grey( hsl(0,0,90) );

    font: 14px/39px Arial;

    outline: none;
  }

  input[type="submit"] {
    @include button( hsl(0,0,90) );
    height: 45px;
    width: 200px;
    box-sizing: border-box;
    font: 24px/45px 'bebas_neue_cyrillic';
    background: $yellow;
  }

  label, a {
    line-height: 30px;
  }

  label {
    padding-left: 10px;
  }

  a {
    color: $greenoblue;
  }

  .log_already_done_this {
    line-height: 40px;
  }
}

#login_forget_pass {
  float: right;
}

#app_login .form_error_enter {
  padding-top: 15px;
}