$importance: ten nine eight seven six five four three two one
$big_sizes: 20px 23px 26px 29px 32px 35px 38px 41px 44px 47px
$small_sizes: 8px 8px 8px 9px 9px 9px 10px 10px 10px 11px

#number_info
  display: none
  border: 1px solid $lightgrey
  position: absolute
  top: 100px
  width: 420px
  height: 300px
  box-sizing: border-box
  -moz-box-sizing: border-box
  padding:
    top: 30px
    left: 30px
    right: 30px
    bottom: 30px
  #arrow_up
    position: absolute
    top: -32px
    width: 26px
    height: 34px
    background-image: url('/images/number_info_arrow_up.png')
  #promote
    width: 360px
    height: 45px
  #spend_how_many
    > *
      display: inline
    p
      padding: 0
      margin: 0
      color: $grey
  #numberline
    margin:
      bottom: 20px
    list:
      style: none
    display: table
    .green
      color: $white
      background-color: $green
    .grey
      color: $black
      background-color: $grey
    .number
      text-align: center
      margin:
        left: 1px
        right: 1px
      line-height: 47px
      width: 30px
      height: 100px
      float: left
      .numeric
        display: table-cell
        vertical-align: bottom
        color: $black
        font:
          family: 'bebas_neue_cyrillic'
      .votes
        color: $black
        font:
          family: 'Arial'
      .block
        width: 100%
        height: 5px
      &.blue
        .block
          background-color: $blue
      @for $i from 1 through 10
        &.#{nth($importance, $i)}
          .numeric
            font:
              size: #{nth($big_sizes, $i)}
          .votes, .delta
            font:
              size: #{nth($small_sizes, $i)}
      &.tail
        .numeric
          color: $lightgrey
      &.first
        .numeric
          color: $green
      &.yours
        *
          color: $white
        background-color: $blue

