.org_box_head {
  background: url("/images/orgreg_page/box_head.png");
  height: 90px;
  color: $white;

  position: relative;
  .org_info {
    position: absolute;
    top: 20px;

    div {
      float: left;
    }

    .org_info_number {
      font: 45px/50px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
    }
    .org_info_text {
      font: 14px/18px Arial;
      margin-left: 8px;
      padding: 5px 0px;
    }
  }

  .org_info_members {
    left: 50px;
  }
  .org_info_organizators {
    left: 380px;
  }
  .org_info_prizov {
    left: 680px;
  }
}

.org_header1 {
  font: 45px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
  color: $orange;
  margin: 0px;
}

.org_header2 {
  font: 33px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
  color: $greenoblue;
  margin: 0px;
}

.org_header3 {
  font: bold 14px/18px Arial;
  color: $greenoblue;
  margin: 15px 0px 0px;
}

.org_button {
  height: 40px;
  background: rgb( 255, 225, 20 );
  font: 24px/40px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
  color: black;
}

.org_row {
  display: table;
  width: 100%;
}

.org_half_collumn {
  float: left;
  width: 50%;
}

.org_box_body {
  background: white;
  padding: 30px 50px 45px;

  overflow: hidden;
  color: hsl(0,0,48);

  h1 { @extend .org_header1; }

  h2 { @extend .org_header2; }

  h3 { @extend .org_header3; }

  label {
    font: 14px/29px Arial;
  }

  input {
    @extend %proto_input;
    @extend %border_box;

    height: 33px;
    font: 16px/29px Arial;
    width: 100%;
  }

  [type='submit'] {
    @extend .org_button;
  }
}