%proto_bottom_5 {
  border-style: solid;
  border-width: 0px 0px 5px;
}

%proto_button {
  cursor: pointer;

  @extend %proto_bottom_5;
  
  &:active {
    border-width: 5px 0px 0px;
  }
}

@mixin proto_grey( $border_color ){
  border-color: $border_color;

  &:hover {
    border-color: darken( $border_color, 5 );
  }

  &:active, &:focus, &.on {
    border-color: darken( $border_color, 25 );
  }
}

@mixin button( $border_color ){
  @extend %proto_button;

  @include proto_grey( $border_color );
}