.border_box {
  box-sizing: border-box;
}

.row {
  @extend .border_box;
  display: table;
  width: 100%;
}

.col {
  float: left;
}

.bottom_5 {
  border-style: solid;
  border-width: 0px 0px 5px;
}

.button {
  @extend .border_box;
  @extend .bottom_5;
  
  &:active {
    border-width: 5px 0px 0px;
  }

  cursor: pointer;
  text-align: center;
  text-decoratuin: none;
  font-family: 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
}

.input {
  @extend .border_box;

  border-style: solid;
  border-width: 1px 1px 3px;
  outline: none;

  display: inline-block;
  padding: 0px 0.5em;
}

.form {
  input {
    @extend .input;
  }

  [type="submit"] {
    @extend .button;
  }
}

@mixin proto_grey( $border_color ){
  border-color: $border_color;

  &:hover {
    border-color: darken( $border_color, 5 );
  }

  &:active, &:focus, &.on {
    border-color: darken( $border_color, 25 );
  }
}

@mixin button( $border_color, $height ){
  @extend .button;
  @include proto_grey( $border_color );

  height: $height + 5px;
  line-height: $height;
}

@mixin input( $border_color ){
  @extend .input;
  @include proto_grey( $border_color );
}

.select {
  display: inline-block;
  position: relative;
  line-height: 0;
  
  .select_current, .select_list {
    background: white;
    min-width: 100%;
  }

  .select_current {
    cursor: pointer;
    @extend .input;
  }
  
  .select_list {
    display: none;

    position: absolute;
    overflow-y: scroll;

    z-index: 1;

    @extend .border_box;

    div {
      cursor: pointer;
      padding: 0px 0.5em;

      &.on {
        cursor: default;
      }
    }
  }

  &.on .select_list {
    display: block;
  }
}