#orgreg_page {
  background: url("/images/orgreg_page/background.png") center top no-repeat;

  .app_div {
    padding-top: 1px;
    position: relative;
    padding: 165px 0px 60px;
  }
}

#orgreg_logo {
  position: absolute;
  top: 41px;
  left: 0px;
}

#orgreg_logup, #orgreg_login {
  float: left;
}

#orgreg_logup {
  width: 504px;
}

#orgreg_login {
  background: rgb(234,236,237) url("/images/orgreg_page/login_background.png") top no-repeat;
  margin-left: 38px;
  width: 248px;

  padding: 30px;
}

#orgreg_logup {
  input {
    @include proto_grey( hsl(0,0,90) );
  }
  
  label + span {
    color: $orange;
  }

  .col + .col {
    margin-left: 18px;
  }

  .row + .row {
    margin-top: 10px;
  }

  .two_in_row .col {
    width: 243px;
  }

  .three_in_row .col {
    width: 156px;
  }

  [type='submit'] {
    @include proto_grey( hsl(0,0,95) );
  }

  #orgreg_logup_final_row {
    margin-top: 25px;
  }

  #orgreg_logup_notation {
    font: 12px/29px Arial;

    span {
      color: $orange;
    }
  }
}

#orgreg_login {
  input {
    @include proto_grey( hsl(0,0,85) );
  }

  .col + .col {
    margin-top: 10px;
  }

  [type='submit'] {
    margin-top: 17px;
  }

  a {
    float: right;
    font: 12px/29px Arial;
    color: $greenoblue;
  }

  #orgreg_login_description {
    padding: 23px 0px;
    font: 14px/22px Arial;
  }

  .form_error_enter {
    margin-top: 17px;
  }
}