#orgreg_page {
  background: url("/images/orgreg_page/background.png") center top no-repeat;

  .app_div {
    padding-top: 1px;
    position: relative;
    padding: 165px 0px 60px;
  }
}

#orgreg_logo {
  position: absolute;
  top: 41px;
  left: 0px;
}

.orgreg_box_head {
  background: url("/images/orgreg_page/box_head.png");
  height: 90px;
  color: $white;

  position: relative;
  .orgrex_info {
    position: absolute;
    top: 20px;

    div {
      float: left;
    }

    .orgrex_info_number {
      font: 45px/50px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
    }
    .orgrex_info_text {
      font: 14px/18px Arial;
      margin-left: 8px;
      padding: 5px 0px;
    }
  }

  .orgrex_info_members {
    left: 50px;
  }
  .orgrex_info_organizators {
    left: 380px;
  }
  .orgrex_info_prizov {
    left: 680px;
  }
}

#orgreg_box_body {
  background: white;
  padding: 30px 50px 45px;

  display: table;
  color: hsl(0,0,48);
}

#orgreg_logup, #orgreg_login {
  float: left;
}

#orgreg_logup {
  width: 504px;
}

#orgreg_login {
  background: url("/images/orgreg_page/login_background.png");
  margin-left: 38px;
  width: 248px;
  height: 384px;

  padding: 30px;
}

#orgreg_box_body {
  h1 {
    font: 45px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
    color: $orange;
    margin: 0px;
  }

  h2 {
    font: 33px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
    color: $greenoblue;
    margin: 0px;
  }

  h3 {
    font: bold 14px/18px Arial;
    color: $greenoblue;
    margin: 15px 0px 0px;
  }

  label {
    font: 14px/29px Arial;
  }

  input {
    height: 33px;
    border-style: solid;
    border-width: 1px 1px 3px;
    outline: none;

    font: 16px/29px Arial;

    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }

  [type='submit'] {
    height: 40px;
    background: rgb( 255, 225, 20 );
    font: 24px/40px 'bebas_neue_cyrillic', 'DejaVu Serif', 'Serif', 'Arial';
    color: black;
  }
}

#orgreg_logup {
  input {
    @include proto_grey( hsl(0,0,90) );
  }

  label + span {
    color: $orange;
  }

  .field {
    float: left;

    + .field {
      margin-left: 18px;
    }
  }

  .field_row {
    display: table;

    + .field_row {
      margin-top: 10px;
    }
  }

  .two_in_row .field {
    width: 243px;
  }

  .three_in_row .field {
    width: 156px;
  }

  [type='submit'] {
    @include button( hsl(0,0,95) );
  }

  #orgreg_logup_final_row {
    margin-top: 25px;
  }

  #orgreg_logup_notation {
    font: 12px/29px Arial;

    span {
      color: $orange;
    }
  }
}

#orgreg_login {
  input {
    @include proto_grey( hsl(0,0,85) );
  }

  .field + .field {
    margin-top: 10px;
  }

  [type='submit'] {
    margin-top: 17px;
    @extend %proto_button;
  }

  a {
    float: right;
    font: 12px/29px Arial;
    color: $greenoblue;
  }

  #login_description {
    padding: 23px 0px;
    font: 14px/22px Arial;
  }
}