@import 'number_info'

#voting
  .red
    &.place
      .arrow
        background:
          image: url('/images/mini-red-arrows.png')
  .yellow
    &.place
  #body
    display: table
    width: 900px
    background:
      color: $white
    padding:
      left: 50px
    h1
      color: $orange
      font:
        size: 44px
    #slider
      display: table
      width: 400px
      height: 360px
      .active
        width: 100%
        margin:
          bottom: 10px
      .passive
        text-align: center
        float: left
        width: 125px
        display: inline-block
        &.center
          width: 37.3%
    #information
      color: $grey
      width: 400px
      p
        margin:
          top: 35px
          bottom: 35px
    #lead_phone, #your_phone
      position: relative
      width: 475px
      height: 100px
      box-sizing: border-box
      -moz-box-sizing: border-box
      color: $black
      padding:
        top: 20px
        left: 45px
        right: 15px
        bottom: 20px
      > p
        padding:
          left: 30px
        font:
          weight: bold
    ul.phone
      padding: 0
      margin: 0
      list:
        style: none
      li
        cursor: pointer
        margin:
          left: 3px
          right: 3px
        position: relative
        display: inline-block
        font:
          family: 'bebas_neue_cyrillic'
          size: 53px
        &.star, &.plus
          position: relative
          top: -10px
          font:
            family: 'Arial'
            size: 20px
            weight: bold
        .place
          position: absolute
          width: 40px
          line-height: 12px
          color: $white
          padding-left: 5px
          left: 10px
          font:
            size: 10px
          &.top
            top: -10px
            .arrow
              bottom: -8px
              background:
                position: -9px -11px
          &.bottom
            bottom: -10px
            .arrow
              top: -8px
              background:
                position: -11px 0px
          .arrow
            left: 0
            width: 7px
            height: 9px
            position: absolute
            background:
              repeat: no-repeat
    #coincedence
      margin:
        top: 23px
      position: relative
      left: -8px
      p
        font:
          weight: bold
      b.special
        position: relative
        top: 5px
        font:
          family: 'bebas_neue_cyrillic'
          size: 30px
        &.star
          top: 15px
          box-sizing: border-box
          -moz-box-sizing: border-box
          color: $white
          font:
            size: 35px
          padding:
            top: 16px
            left: 27px
            right: 25px
            bottom: 22px
          background:
            image: url('/images/orange_star.png')
            repeat: no-repeat
    .left
      width: 400px
      float: left
      margin-right: 25px
    .right
      width: 475px
      float: left
