.org_box_head
  .org_info.org_info_members
    .org_info_number 198 454
    .org_info_text= simple_format( t 'organization.registration.members_info' )
  .org_info.org_info_organizators
    .org_info_number 372
    .org_info_text= simple_format( t 'organization.registration.organizators_info' )
  .org_info.org_info_prizov
    .org_info_number 547
    .org_info_text= simple_format( t 'organization.registration.prizov_info' )