%div#settings
  = link_to close ? t('settings.expand') : t('settings.less'), 'javascript:{}', :class => 'twhite clickable'
  %div{ :data => { :target => current_user.class.to_s.underscore, :less => t('settings.less'), :expand => t('settings.expand') }, :class => "expander #{close ? 'more' : 'less'}" }
    = link_to raw( close ? '&#xf078;' : '&#xf077;' ), 'javascript:{}', :class => 'fa twhite'
