%div#settings
  = link_to t('participant.settings.explain'), 'javascript:{}', :class => 'twhite clickable'
  %div.expander.more{ :data => { :target => @who.class.to_s.underscore } }
    = link_to raw('&#xf078;'), 'javascript:{}', :class => 'fa twhite'
